<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SEM01 Academic Performance</title>
		<link rel="stylesheet" href="../Styles/sem1.css"/>
	</head>
	<body>
		
        <div class="conatiner">
			<!-- Head section goes here -->
			<header>
				<h1>SEMESTER 01 Academic Performance</h1>
			</header>
            

		<div class="table">
			<table>
				<tr>
					<th> </th>
					<th> <b> Code </b></th>
					<th> <b> Module </b></th>
					<th> <b> Grade  </b></th>
				</tr>
				<tr>
					<td> 1. </td>
					<td> IS 1104 </td>
					<td> Mathematics and Statistics  </td>
					<td> B <sup> + </sup> </td>
				</tr>
				<tr>
					<td> 2. </td>
					<td> IT 1101 </td>
					<td> Applied Science for Information Technology  </td>
					<td> A <sup> - </sup> </td>
				</tr>
				<tr>
					<td> 3. </td>
					<td> IT 1102 </td>
					<td> Business Application in Information Technology  </td>
					<td> B <sup> + </sup> </td>
				</tr>
				<tr>
					<td> 4. </td>
					<td> IT 1104 </td>
					<td> Database Management  </td>
					<td> C </td>
				</tr>
				<tr>
					<td> 5. </td>
					<td> IT 1105 </td>
					<td> Digital Computers  </td>
					<td> A </td>
				</tr>
				<tr>
					<td> 6. </td>
					<td> IT 1106 </td>
					<td> Fundamentals of Programming   </td>
					<td> B  </td>
				</tr>
				<tr>
					<td> 7. </td>
					<td> IT 1107 </td>
					<td> Operating Systems  </td>
					<td> B <sup> + </sup> </td>
				</tr>
				<tr>
					<td> 8. </td>
					<td> IT 1108 </td>
					<td> Principals of GIS and Applications </td>
					<td> A <sup> - </sup> </td>
				</tr>
				<tr>
					<td> 9. </td>
					<td> IS 1103 </td>
					<td> English Language Skills Enhancement 1  </td>
					<td> A <sup> - </sup> </td>
				</tr>
				<tr>
					<td> 10. </td>
					<td> IS 1205 </td>
					<td> Sport Studies  </td>
					<td> B <sup> - </sup> </td>
				</tr>
				<tr>
					<th colspan="4">
						<b> Semester Grade Point Average :  3.31 </b>
					</th>
				</tr>
			</table>
		</div>
        </div>
		
</html>
